<configuration>


    <appender name="saidaPadrao" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%blue(%date{dd/MM/yyyy HH:mm:ss.SSS}) %magenta([%thread]) %highlight(%-5level) %cyan(%logger{15}) - %green(%msg%n)</pattern>
        </encoder>
    </appender>

    <logger name="com.algaworks.crm" level="TRACE"/>

    <root level="INFO">
        <appender-ref ref="saidaPadrao"/>
    </root>

</configuration>